:root {
	--price-green: #00FF00;
	--price-red: #E70006;
	--price-white: white;
}
body {
	font-family: sans-serif;
	background: url("../../assets/background.png") no-repeat;
	background-size: cover;
}
.article {
	font-size: 2em;
	font-variant: small-caps;
}
.articleName {

}
.articlePrice {

}

